<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.interview.dao.GoodMapper">
	<insert id="add" parameterType="com.interview.entity.Good">
		insert into good
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name!=null">
				name,
			</if>
			<if test="goodTypeId!=null">
				goodTypeId,
			</if>
				createTime,
			<if test="sort!=null">
				sort,
			</if>
			<if test="memo!=null">
				memo,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name!=null">
				#{name},
			</if>
			<if test="goodTypeId!=null">
				#{goodTypeId},
			</if>
				now(),
			<if test="sort!=null">
				#{sort},
			</if>
			<if test="memo!=null">
				#{memo},
			</if>
		</trim>
	</insert>
	<select id="getList" resultType="com.interview.entity.Good">
		select g.*,gt.name goodTypeName from good g,good_type gt where g.goodTypeId=gt.id
		<if test="name!=''&amp;name!=null">
			and g.name like CONCAT('%',#{name},'%')
		</if> 
		<if test="goodTypeName!=''&amp;goodTypeName!=null">
			and gt.name like CONCAT('%',#{goodTypeName},'%')
		</if> 
	</select>
	<select id="getById" resultType="com.interview.entity.Good">
		select * from good where id=#{id}
	</select>
	<update id="edit" parameterType="com.interview.entity.Good">
		update good set 
		<trim suffixOverrides=",">
			<if test="name!=null">
				name=#{name},
			</if>
			<if test="goodTypeId!=null">
				goodTypeId=#{goodTypeId},
			</if>
			<if test="sort!=null">
				sort=#{sort},
			</if>
			<if test="memo!=null">
				memo=#{memo},
			</if>
		</trim>
		where id=#{id}
	</update>
	<delete id="deleteByIds">
		delete from good where 1=1
		<foreach collection="list" item="id" open=" and cast(id as char) in (" separator="," close=")">
		#{id}
		</foreach>
	</delete>
	<select id="getGoodCountInTypeList" resultType="java.util.Map">
		select gt.name goodTypeName,count(g.goodTypeId) goodCount from good_type gt left join good g on g.goodTypeId=gt.id GROUP BY gt.id
	</select>
</mapper>